<div class="column left">
</div>
<div class="column middle">
  <h2>Eğitim</h2>
  <p>Temel mühendislik dallarından biri olan Elektrik-Elektronik Mühendisliği Bölümü’nün Elektronik ve Haberleşme Mühendisliği programı, hızla gelişen ilgili teknolojilere insan kaynağı yetiştiren bir mühendislik disiplinidir.
  
    İYTE Elektronik ve Haberleşme Mühendisliği programının amacı, matematik ve temel bilimler alanlarında güçlü bir altyapıya sahip ve bu altyapıyı gerekli mühendislik uygulamalarında kullanabilen bireyler yetiştirmektir. Bu amaçla, İYTE Elektronik ve Haberleşme Mühendisliği programı hızla gelişen teknolojiyi takip etmekle kalmayıp, yeni teknolojileri üretebilmelerine de olanak sağlayabilecek şekilde hazırlanmıştır.
    
    İYTE Elektronik ve Haberleşme Mühendisliği programını başarı ile tamamlayan öğrencilerimiz, elektronik, otomatik kontrol, kablosuz haberleşme, biyomedikal ve savunma sanayi teknolojileri gibi hızla gelişen sektörlerdeki ulusal veya uluslararası kuruluşlarda; araştırma-geliştirme, tasarım ve üretim gibi birimlerde iş olanaklarına sahiptirler.</p>
  <h3>Lisans Eğitimi</h3>
  <a href="">Eğitim Planı</a><br>
  <a href="">Elektrik ve Elektronik Mühendisliği seçmeli lisans dersleri listesi</a><br>
  <a href="">Lisans ders içerikleri</a><br>
  
  <h3>Lisansüstü Eğitimi</h3>
  <p>Sunulan Dereceler</p>
  <ul>Elektronik ve Haberleşme Mühendisliği alanında yüksek lisans
  </ul>
  <ul>Elektronik ve Haberleşme Mühendisliği alanında doktora
  </ul>
  <a href="">Kabul için gereksinimler</a><br>
  <a href="">Derece için gereksinimler Eğitim planı (yüksek lisans)</a><br>
  <a href="">Doktora Yeterlilik Sınavı Uygulama Esasları</a><br>
  <a href="">Lisansüstü ders listesi (seçmeli dersler)</a><br>
  <a href="">Lisansüstü ders içerikleri</a><br>
  <p>Kural ve yönetmelikler ile  ilgili dökümanları <a href="">burada</a></p>
  
<div class="column right">
</div>

