.column {
  padding: 5%;
}
.right {
  float: right;
  width: 60vw;
  text-align: left;
  margin-right: 1vw;
}
.left {
  float: left;
  width: 30vw;
  text-align: left;
  margin-right: 1vw;
}
.lesson {
  text-align: left;
  margin-top: 1.5vw;
  display: none;
}

.research {
  text-align: left;
  margin-top: 1.5vw;
  display: none;
}

.publication {
  text-align: left;
  margin-top: 1.5vw;
  display: none;
}

.button {
  background-color: #9A1220;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 40%;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #9A1220;
}

.button1:hover {
  background-color: #9A1220;
  color: white;
}

.icon {
  float: left;
  vertical-align: middle;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 25vw;
  max-height: 50vw;
  margin-left: 0;
  text-align: left;
  font-family: arial;
}

.card ul {
  list-style-type: none;
}
.social {
  overflow: hidden;
}
.social a {
  width: 6vw;
  display: inline-block;
}
.icons {
  display: inline-block;
  margin-top: 1vw;
  margin-left: 1vw;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter-square {
  color: #00aced;
}

.fa-linkedin {
  color: #007bb6;
}

.fa-youtube-square {
  color: #df1c31;
}

.fa-reddit-square {
  color: #8bbbe3;
}

.fa-github-square {
  color: #444;
}

.fa-pinterest-square {
  color: #b81621;
}

