<div class="column left">
  <h2>{{name}} {{surname}}</h2>
  <p>{{title}}</p>

  <div class="card">
    <img src="{{pp}}" style="width:100%">
    <ul>
      <li>
        <i class="fas fa-phone"></i> {{number}}</li>
      <li>
        <i class="far fa-envelope"></i> {{email}}</li>
      <li>Ph.D. : {{phd}}</li>
      <li>M.S. : {{ms}}</li>
      <li>B.S. : {{bs}}</li>
    </ul>
    <div class="social">
      <a class="icon-link round-corner facebook fill" class="icons">
        <i class="fab fa-facebook-square "></i>
      </a>
      <a target="_blank" class="icon-link round-corner linkedin fill" class="icons">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="icon-link round-corner twitter fill" class="icons">
        <i class="fab fa-twitter-square"></i>
      </a>
      <a class="icon-link round-corner youtube fill" class="icons">
        <i class="fab fa-youtube-square"></i>
      </a>
      <a class="icon-link round-corner reddit fill" class="icons">
        <i class="fab fa-reddit-square"></i>
      </a>
      <a class="icon-link round-corner github fill" class="icons">
        <i class="fab fa-github-square"></i>
      </a>
      <a class="icon-link round-corner pinterest fill" class="icons">
        <i class="fab fa-pinterest-square"></i>
      </a>
    </div>
  </div>
</div>

  <div class="column right">
    <p>Selam herkese,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum ipsum sem. Nam ac ipsum nibh. Donec nec ex aliquam, dignissim ipsum ac, semper urna. Phasellus tristique est sed arcu accumsan, id commodo tortor bibendum. Praesent eu hendrerit massa. Suspendisse potenti. Phasellus vel enim nibh. Suspendisse elementum diam et orci pulvinar, sed auctor turpis interdum. Nunc congue, nisl quis pharetra pulvinar, justo orci molestie sem, a varius diam elit vitae ligula. Phasellus a metus at ligula condimentum scelerisque. In pulvinar ante non lobortis suscipit. Suspendisse id lectus viverra, pharetra nisl at, interdum ligula. Vivamus vitae ornare dolor. Maecenas leo ex, tristique sit amet magna convallis, euismod elementum mi. Etiam viverra iaculis risus ut blandit.</p>
    <div class="btn-group" role="group">
      <button class="button button1" (click)='lessonFunction()'>
        <i class="fas fa-chalkboard fa-2x icon"></i>Açtığı Dersler</button>
      <button class="button button1" (click)='researchFunction()'>
        <i class="fas fa-flask fa-2x icon"></i>Araştırma Alanları</button>
      <button class="button button1 son" (click)='publicationFunction()'>
        <i class="fas fa-book fa-2x icon"></i>Yayınlar</button>
    </div>

    <li *ngFor="let lesson of lessons" class="lesson">{{lesson}}</li>
    <li *ngFor="let research of researches" class="research">{{research}}</li>
    <li *ngFor="let publication of publications" class="publication">{{publication}}</li>

  </div>
