<div class="column left">
    </div>
    <div class="column middle">    
        <!-- <input placeholder="username"  class="usernameF"/>  
    
        <input placeholder="name"  class="nameF"/>  
            <input placeholder="surname" class="surnameF"/>
            <input placeholder="pp"  class="ppF"/>
            <button (click)="addToFirebase()"> Firebaseye ekle!</button> -->
    <div class="fakulty">
        <h2>Mezunlarımız</h2>
        <div *ngFor="let spotlight of spotlights | async" class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img src="{{spotlight.pp}}" alt="{{spotlight.name}}" width="150" height="200">
                    <p>{{spotlight.name | titlecase }} {{spotlight.surname | titlecase }}</p>
                </div>
                <div class="back">
                    <a class="icon-link round-corner facebook fill">
                        <i class="fab fa-facebook-square fa-3x"></i>
                    </a>
                    <a target="_blank" class="icon-link round-corner linkedin fill">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                    <a class="icon-link round-corner twitter fill">
                        <i class="fab fa-twitter-square fa-3x"></i>
                    </a>
                    <a class="icon-link round-corner youtube fill">
                        <i class="fab fa-youtube-square fa-3x"></i>
                    </a>
                    <a class="icon-link round-corner reddit fill">
                        <i class="fab fa-reddit-square fa-3x"></i>
                    </a>
                    <a class="icon-link round-corner github fill">
                        <i class="fab fa-github-square fa-3x"></i>
                    </a>
                    <a class="icon-link round-corner pinterest fill">
                        <i class="fab fa-pinterest-square fa-3x"></i>
                    </a>
                    <a class="icon-link round-corner envelope fill">
                        <i class="fas fa-envelope-square fa-3x"></i>
                    </a>
                    <a class="icon-link">
                        <i style="cursor: pointer;" routerLink="/spotlights/{{(spotlight.name | lowercase) | notTurkish}}{{(spotlight.surname |lowercase)|notTurkish }}" class="fas fa-info-circle fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="column right">   
            
        </div>
    