<!-- 
        <input placeholder="project" class="projectF"/>
        <input placeholder="owner"  class="ownerF"/>
        <button (click)="addToFirebase()"> Firebaseye ekle!</button> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="basliklar">{{'education.titleU' | translate}}</p>
              <div class="dropdown-divider"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
               <p *ngFor="let item of collection |async" >  {{item}} </p> 
               <a href="{{'education.planLink' | translate}}"><br>{{'education.plan' | translate}}</a>      
               <a style=" color:#1588fa; cursor: pointer;"  data-toggle="modal" data-target="#exampleModalCenter" ><br>{{'education.courseList' | translate}}</a>      
               <a href="{{'education.coursemLink' | translate}}"><br>{{'education.courseM' | translate}}</a>     
               <br><br> 
              </div>
          </div>
        </div>


 
<!-- Modal starts-->
<div   class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{'education.courseList' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 
        <img width="400" src="https://firebasestorage.googleapis.com/v0/b/eeeweb-c2788.appspot.com/o/education%2Fehmlessons.png?alt=media&token=b6ef61c2-1db7-4dac-95b6-ad064adb7c46"/>
      </div>
      
    </div>
  </div>
</div>
        <!-- Modal Ends -->
