<!-- 
        <input placeholder="project" class="projectF"/>
        <input placeholder="owner"  class="ownerF"/>
        <button (click)="addToFirebase()"> Firebaseye ekle!</button> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="baslıklar">{{'navbar.projects.title' | translate}}</p>
              <div class="dropdown-divider"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="divider"><b>{{'navbar.projects.project' | translate}}</b></p>
              <p>{{'navbar.projects.owner' | translate}}</p>       
            </div>
          </div>
        </div>
        