<div class="column left">
</div>
<div class="column middle">
    <h2>Personel</h2>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                Sosyal Medias
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                İnchallah olur amk
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                İnchallah olur amk
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                İnchallah olur amk
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                İnchallah olur amk
            </div>
        </div>
    </div>

    <div class="column right">
    </div>