<div class="column left">
</div>
<div class="column middle">
    <h2>Personel</h2>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                <a class="icon-link round-corner facebook fill">
                    <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner linkedin fill">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
                <a class="icon-link round-corner twitter fill">
                    <i class="fab fa-twitter-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner youtube fill">
                    <i class="fab fa-youtube-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner reddit fill">
                    <i class="fab fa-reddit-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner github fill">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner pinterest fill">
                    <i class="fab fa-pinterest-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner envelope fill">
                    <i class="fas fa-envelope-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                <a class="icon-link round-corner facebook fill">
                    <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner linkedin fill">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
                <a class="icon-link round-corner twitter fill">
                    <i class="fab fa-twitter-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner youtube fill">
                    <i class="fab fa-youtube-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner reddit fill">
                    <i class="fab fa-reddit-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner github fill">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner pinterest fill">
                    <i class="fab fa-pinterest-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner envelope fill">
                    <i class="fas fa-envelope-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                <a class="icon-link round-corner facebook fill">
                    <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner linkedin fill">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
                <a class="icon-link round-corner twitter fill">
                    <i class="fab fa-twitter-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner youtube fill">
                    <i class="fab fa-youtube-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner reddit fill">
                    <i class="fab fa-reddit-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner github fill">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner pinterest fill">
                    <i class="fab fa-pinterest-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner envelope fill">
                    <i class="fas fa-envelope-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                <a class="icon-link round-corner facebook fill">
                    <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner linkedin fill">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
                <a class="icon-link round-corner twitter fill">
                    <i class="fab fa-twitter-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner youtube fill">
                    <i class="fab fa-youtube-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner reddit fill">
                    <i class="fab fa-reddit-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner github fill">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner pinterest fill">
                    <i class="fab fa-pinterest-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner envelope fill">
                    <i class="fas fa-envelope-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                <a class="icon-link round-corner facebook fill">
                    <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner linkedin fill">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
                <a class="icon-link round-corner twitter fill">
                    <i class="fab fa-twitter-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner youtube fill">
                    <i class="fab fa-youtube-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner reddit fill">
                    <i class="fab fa-reddit-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner github fill">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner pinterest fill">
                    <i class="fab fa-pinterest-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner envelope fill">
                    <i class="fas fa-envelope-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                <a class="icon-link round-corner facebook fill">
                    <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner linkedin fill">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
                <a class="icon-link round-corner twitter fill">
                    <i class="fab fa-twitter-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner youtube fill">
                    <i class="fab fa-youtube-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner reddit fill">
                    <i class="fab fa-reddit-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner github fill">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner pinterest fill">
                    <i class="fab fa-pinterest-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner envelope fill">
                    <i class="fas fa-envelope-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <img src="/assets/image/personel/muraterten.jpg" alt="muraterten" width="150" height="200">
                <p>Prof.Dr.Murat Erten</p>
            </div>
            <div class="back">
                <a class="icon-link round-corner facebook fill">
                    <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner linkedin fill">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
                <a class="icon-link round-corner twitter fill">
                    <i class="fab fa-twitter-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner youtube fill">
                    <i class="fab fa-youtube-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner reddit fill">
                    <i class="fab fa-reddit-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner github fill">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner pinterest fill">
                    <i class="fab fa-pinterest-square fa-3x"></i>
                </a>
                <a class="icon-link round-corner envelope fill">
                    <i class="fas fa-envelope-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="column right">    
    </div>