.column {
    float: left;
    padding: 3%;
}
.left {
    width: 7.5%;
}
.middle {
    width: 85%;
    text-align: left;
}
.right {
    width: 7.5%;
}

.flip-container {
    margin-right: 40px;
    margin-left: 0%;
    margin-bottom: 20px;
    margin-top: 20px;
    perspective: 1000;
    display: inline-block;
    float: left;
}
.flip-container:hover .card {
    transform: rotateY(180deg);
}
.card, .front, .back {
    width: 150px;
    height: 200px;
}
.card {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
}
.back {
    z-index: 1;
    transform: rotateY(180deg);
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}

