  <div class="column left">
  </div>
  <div class="column middle">
  <h2>İletişim</h2>
  <p>Neslihan UYSAL</p>
  <p>Tel:  0 232 750 6510</p>
  <p>Fax: 0 232 750 6599</p>
  <p>neslihanuysal@iyte.edu.tr</p>
  <p>Adres: İzmir Yüksek Teknoloji Enstitüsü Elektrik Elektronik Mühendisliği Gülbahçe Urla 35430 İzmir, Türkiye</p>
  <div class="maps">
      <iframe src="https://www.google.com/maps/d/embed?mid=1lrTK_t79vAWkhQBJWjX9vTK4Pmy7GBfk" width="500" height="400"></iframe>  </div>
</div>

  <div class="column right">
  </div>
