<!-- <div class="column left">
</div>
<div class="column middle">
<h3>{{ title}}</h3>
<h5 style="color: rgba(56, 56, 56, 0.774);">{{subtitle}}</h5>
    <img src={{photoUrl}}/>
<div class="file">
  <p>{{text}}</p>

</div>

<div class="column right">
</div>
 -->

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p class="basliklar">{{title}}</p>
      <div class="dropdown-divider" style="margin-bottom: 2vw;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
        <img class="picture" src={{photoUrl}}/>
    </div>    
    <div class="col-md-2"></div>

    <div class="col-md-5">
        <p class="sub">{{subtitle}}</p>
        <p>{{text}}</p>


    </div>
  </div>
</div>
