<!-- <div class="column left">
</div>
<div class="column middle">
<h3>{{ title}}</h3>
<h5 style="color: rgba(56, 56, 56, 0.774);">{{subtitle}}</h5>
    <img src={{photoUrl}}/>
<div class="file">
  <p>{{text}}</p>

</div>

<div class="column right">
</div>
 -->

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p class="basliklar">{{title}}</p>
      <div class="dropdown-divider" style="margin-bottom: 2vw;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
        <img class="picture" src={{photoUrl}}/>
    </div>    
    <div class="col-md-2"></div>

    <div class="col-md-5">
        <p class="sub">{{subtitle}}</p>
        <p>{{text}}</p>
        <p>Lorem ipsum dolor sit amet, brute consul possim eum te. Vis ad unum aliquid accumsan. Eam omittam copiosae ex, cu pri accumsan platonem, an quo veri tritani eruditi. Ius ea nisl illum, cu clita omittam ocurreret vis, autem lobortis est no. Vis cu cibo invenire tractatos.

            Offendit torquatos comprehensam ei ius, vim idque mazim albucius no. Te cum noster aliquip, sensibus imperdiet ad sit. His ex erat porro, duo elit admodum offendit ei. Congue adipisci imperdiet sed ut, pri ne duis aliquando deterruisset.
            
            His iriure philosophia an. Te novum patrioque vim. Affert civibus te usu. No vim doming postulant, eu qui alia agam. Sed ea natum percipit, in nam commodo labitur. Nam duis movet persius cu, nec putent volutpat imperdiet ei. Impedit suscipit consectetuer ea duo.
            
            Pri amet purto molestie et, sed cetero delicata an, propriae periculis torquatos has ex. Ne interesset philosophia quo. Mel suavitate definiebas id. Id pro aliquando gloriatur deterruisset, vis ex mutat rebum facete.
            </p>

    </div>
  </div>
</div>
