<!-- <div class="column left">
</div>
<div class="column middle">
<h3>{{ title}}</h3>
<h5 style="color: rgba(56, 56, 56, 0.774);">{{subtitle}}</h5>
    <img src={{photoUrl}}/>
<div class="file">
  <p>{{text}}</p>

</div>

<div class="column right">
</div>
 -->

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p class="basliklar">{{title}}</p>
      <div class="dropdown-divider" style="margin-bottom: 2vw;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <img *ngIf="photoUrl1" class="picture" src={{photoUrl1}}/><br>
      <img *ngIf="photoUrl2" class="picture" src={{photoUrl2}}/><br>
      <img *ngIf="photoUrl3" class="picture" src={{photoUrl3}}/>
      <img *ngIf="photoUrl4" class="picture" src={{photoUrl4}}/>
      <img *ngIf="photoUrl5" class="picture" src={{photoUrl5}}/>
    </div>    
    <div class="col-md-2"></div>

    <div class="col-md-5">
        <p style="font-weight:bold;color:darkblue;font-size: 1vw">{{newDate}}</p>
        <p class="sub">{{subtitle}}</p>
        <p class="text"> </p>


    </div>
  </div>
</div>
