
.heading {
  text-align: center;
  margin-top: 1vw;
}

.proCart {

  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  width: 160px;
  height: 250px;
  backface-visibility: hidden;
  position: absolute;
}

.image {
  margin-bottom:5px;
  border-radius: 5px 5px 0 0;
}

/* 
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  margin-left: -50px;
} */

.flip-container {
  perspective: 1000;
  float: left;
  margin-right: 40px;
  margin-left: 0%;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 150px;
	height: 260px;
}
/* .flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}


.flipper {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
} */

.icon-link {
  margin-right: 5px;
}
/* .twitter, github {
  float: left;
}

.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter-square {
  color: #00aced;
}
.fa-linkedin {
  color: #007bb6;
}

.fa-youtube-square {
  color: #df1c31;
}
.fa-reddit-square {
  color: #8bbbe3;
}
.fa-github-square {
  color:#444;
}
.fa-pinterest-square {
  color: #b81621;

} */

@media (max-width: 394px) {

  .flip-container {
    margin-left: 20%;
  }

}