<!-- 
        <input placeholder="project" class="projectF"/>
        <input placeholder="owner"  class="ownerF"/>
        <button (click)="addToFirebase()"> Firebaseye ekle!</button> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="basliklar">{{'navbar.projects.title' | translate}}</p>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="divider"><b>{{'navbar.projects.project' | translate}}</b></p>
      <p>{{'navbar.projects.owner' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project1' | translate}}</b></p>
      <p>{{'navbar.projects.owner1' | translate}}</p>

      <p class="divider" ><b>{{'navbar.projects.project10' | translate}}</b></p>
      <p>{{'navbar.projects.owner10' | translate}}</p>

      <p class="divider" ><b>{{'navbar.projects.project11' | translate}}</b></p>
      <p>{{'navbar.projects.owner11' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project12' | translate}}</b></p>
      <p>{{'navbar.projects.owner12' | translate}}</p>

      <p class="divider" ><b>{{'navbar.projects.project13' | translate}}</b></p>
      <p>{{'navbar.projects.owner13' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project14' | translate}}</b></p>
      <p>{{'navbar.projects.owner14' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project15' | translate}}</b></p>
      <p>{{'navbar.projects.owner15' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project16' | translate}}</b></p>
      <p>{{'navbar.projects.owner16' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project17' | translate}}</b></p>
      <p class="divider">{{'navbar.projects.owner17' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project18' | translate}}</b></p>
      <p>{{'navbar.projects.owner18' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project19' | translate}}</b></p>
      <p>{{'navbar.projects.owner19' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project2' | translate}}</b></p>
      <p>{{'navbar.projects.owner2' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project20' | translate}}</b></p>
      <p>{{'navbar.projects.owner20' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project21' | translate}}</b></p>
      <p>{{'navbar.projects.owner21' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project22' | translate}}</b></p>
      <p>{{'navbar.projects.owner22' | translate}}</p>

      <p class="divider" ><b>{{'navbar.projects.project23' | translate}}</b></p>
      <p>{{'navbar.projects.owner23' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project24' | translate}}</b></p>
      <p>{{'navbar.projects.owner24' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project25' | translate}}</b></p>
      <p>{{'navbar.projects.owner25' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project26' | translate}}</b></p>
      <p>{{'navbar.projects.owner26' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project27' | translate}}</b></p>
      <p>{{'navbar.projects.owner27' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project28' | translate}}</b></p>
      <p>{{'navbar.projects.owner28' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project29' | translate}}</b></p>
      <p>{{'navbar.projects.owner29' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project3' | translate}}</b></p>
      <p>{{'navbar.projects.owner3' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project30' | translate}}</b></p>
      <p>{{'navbar.projects.owner30' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project31' | translate}}</b></p>
      <p>{{'navbar.projects.owner31' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project32' | translate}}</b></p>
      <p>{{'navbar.projects.owner32' | translate}}</p>

      <p class="divider"><b>{{'navbar.projects.project33' | translate}}</b></p>
      <p>{{'navbar.projects.owner33' | translate}}</p>

    

    </div>
  </div>
</div>
