  <!-- <div class="column left">
  </div>
  <div class="column middle">
  <h2>Proje Dersi</h2>
  <p>Bitirme Projesi Ara Raporu teslim tarihi: 30 Mart 2018 Cuma</p>
  <p>Bitirme Projesi Sözlü Sunum tarihi:  ‘Proje Değerlendirme Jürileri’ kısmında ilan edilmiştir.</p>
  <p>Bitirme Projesi Poster Sunum tarihi: 30 Mayıs 2018 Çarşamba, 10:00-12:00 ve 13:30-16:00</p>
  <p>Bitirme Tezi Teslim tarihi: 30 Mayıs 2018 Çarşamba</p>
  <div class="file">
  <p><a href="assets/file/project-lesson/EK1_BScProjectMidtermReportFormatv0218.docx"
    download="EK1_BScProjectMidtermReportFormatv0218.docx"> 
    EK-1 Bitirme Projesi Ara Raporu Formatı
   </a></p>
   <p><a href="assets/file/project-lesson/EK2_BScProjectPresentationFormat0218.ppt"
    download="EK2_BScProjectPresentationFormat0218.ppt"> 
    EK-2 Bitirme Projesi Sözlü Sunum Formatı
   </a></p>
   <p><a href="assets/file/project-lesson/EK3_BScProjectFinalReportFormat0218.docx"
    download="EK3_BScProjectFinalReportFormat0218.docx"> 
    EK-3 Bitirme Tezi Formatı
   </a></p>

</div>

  <div class="column right">
  </div>
 -->


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="basliklar">{{'navbar.projectc' | translate}}</p>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <p>{{'projectLesson.t1' | translate}}</p>
       <p>{{'projectLesson.t2' | translate}}</p>
       <p>{{'projectLesson.t3' | translate}}</p>      
       <p>{{'projectLesson.t4' | translate}}</p> 

       <a href="{{'projectLesson.link1' | translate}}">{{'projectLesson.t5' | translate}}</a><br>      
       <a href="{{'projectLesson.link2' | translate}}">{{'projectLesson.t6' | translate}}</a><br>      
       <a href="{{'projectLesson.link3' | translate}}">{{'projectLesson.t7' | translate}}</a><br>      
       <a href="{{'projectLesson.link4' | translate}}">{{'projectLesson.t8' | translate}}</a><br>  
       <a href="{{'projectLesson.link5' | translate}}">{{'projectLesson.t9' | translate}}</a><br>
       <a href="{{'projectLesson.link6' | translate}}">{{'projectLesson.t11' | translate}}</a><br>      
       <a style="color:red!important;"href="{{'projectLesson.link7' | translate}}">{{'projectLesson.t10' | translate}}</a><br>      
      
        
      </div>
  </div>
</div>