<h2 class="heading">{{'administration.head' |translate}}</h2>
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="flip-container "
    style="cursor: pointer;" routerLink="/faculty/{{(headName | lowercase) |notTurkish}}{{(headSurname |lowercase)|notTurkish }}">
      <div class="flipper">
        <div class="front proCart">
          <img src="{{headpp}}" width="150" height="200" style="margin-bottom:5px" />
          <p>{{headName}} {{headSurname}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="heading ">{{'administration.vice' |translate}}</h2>
<div class="container d-flex justify-content-center">
  <div class="row text-center">
    <div class="col-6 ">
      <div class="flip-container  text-center"
      style="cursor: pointer;" routerLink="/faculty/{{(vice1name | lowercase) |notTurkish}}{{(vice1surname |lowercase)|notTurkish }}"
      >
        <div class="flipper  text-center ">
          <div class="front proCart">
            <img src="{{vice1pp}}" width="150" height="200" style="margin-bottom:5px">
            <p>{{vice1name}} {{vice1surname}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
        <div class="flipper"
        style="cursor: pointer;" routerLink="/faculty/{{(vice2name | lowercase) |notTurkish}}{{(vice2surname |lowercase)|notTurkish }}"
        >
          <div class="front proCart">
            <img src="{{vice2pp}}" width="150" height="200" style="margin-bottom:5px">
            <p>{{vice2name}} {{vice2surname}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
