<h2 class="heading">{{'administration.head' |translate}}</h2>
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper  ">
        <div class="front proCart">
          <img src="{{headpp}}" width="150" height="200" style="margin-bottom:5px" />
          <p>{{headName}} {{headSurname}}</p>
        </div>
        <div class="back proCart">
          <a class="icon-link round-corner facebook fill">
            <i class="fab fa-facebook-square fa-3x"></i>
          </a>
          <a target="_blank" class="icon-link round-corner linkedin fill">
            <i class="fab fa-linkedin fa-3x"></i>
          </a>
          <a class="icon-link round-corner twitter fill">
            <i class="fab fa-twitter-square fa-3x"></i>
          </a>
          <a class="icon-link round-corner youtube fill">
            <i class="fab fa-youtube-square fa-3x"></i>
          </a>
          <a class="icon-link round-corner reddit fill">
            <i class="fab fa-reddit-square fa-3x"></i>
          </a>
          <a class="icon-link round-corner github fill">
            <i class="fab fa-github-square fa-3x"></i>
          </a>
          <a class="icon-link round-corner researchgate fill">
            <i class="fab fa-researchgate fa-3x"></i>
          </a>
          <a class="icon-link round-corner envelope fill">
            <i class="fas fa-envelope-square fa-3x"></i>
          </a>
          <a class="icon-link info">
            <i style="cursor: pointer;" routerLink="/faculty/{{(headName | lowercase) |notTurkish}}{{(headSurname |lowercase)|notTurkish }}"
              class="fas fa-info-circle fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="heading ">{{'administration.vice' |translate}}</h2>
<div class="container d-flex justify-content-center">
  <div class="row text-center">
    <div class="col-6 ">
      <div class="flip-container  text-center" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper  text-center ">
          <div class="front proCart">
            <img src="{{'headpp'}}" width="150" height="200" style="margin-bottom:5px">
            <p>{{'head.name' | translate }} {{'headSurname' | translate }}</p>
          </div>
          <div class="back proCart">
            <a class="icon-link round-corner facebook fill">
              <i class="fab fa-facebook-square fa-3x"></i>
            </a>
            <a target="_blank" class="icon-link round-corner linkedin fill">
              <i class="fab fa-linkedin fa-3x"></i>
            </a>
            <a class="icon-link round-corner twitter fill">
              <i class="fab fa-twitter-square fa-3x"></i>
            </a>
            <a class="icon-link round-corner youtube fill">
              <i class="fab fa-youtube-square fa-3x"></i>
            </a>
            <a class="icon-link round-corner reddit fill">
              <i class="fab fa-reddit-square fa-3x"></i>
            </a>
            <a class="icon-link round-corner github fill">
              <i class="fab fa-github-square fa-3x"></i>
            </a>
            <a class="icon-link round-corner researchgate fill">
              <i class="fab fa-researchgate fa-3x"></i>
            </a>
            <a class="icon-link round-corner envelope fill">
              <i class="fas fa-envelope-square fa-3x"></i>
            </a>
            <a class="icon-link info">
              <i style="cursor: pointer;" routerLink="/faculty/{{('headName' | lowercase) |notTurkish}}{{('headSurname' |lowercase)|notTurkish }}"
                class="fas fa-info-circle fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
        <div class="flipper ">
          <div class="front proCart">
            <img src="{{'headpp'}}" width="150" height="200" style="margin-bottom:5px">
            <p>{{'head.name' | translate }} {{'headSurname' | translate }}</p>
          </div>
          <div class="back proCart">
            <a class="icon-link round-corner facebook fill">
              <i class="fab fa-facebook-square fa-3x"></i>
            </a>
            <a target="_blank" class="icon-link round-corner linkedin fill">
              <i class="fab fa-linkedin fa-3x"></i>
            </a>
            <a class="icon-link round-corner twitter fill">
              <i class="fab fa-twitter-square fa-3x"></i>
            </a>
            <a class="icon-link round-corner youtube fill">
              <i class="fab fa-youtube-square fa-3x"></i>
            </a>
            <a class="icon-link round-corner reddit fill">
              <i class="fab fa-reddit-square fa-3x"></i>
            </a>
            <a class="icon-link round-corner github fill">
              <i class="fab fa-github-square fa-3x"></i>
            </a>
            <a class="icon-link round-corner researchgate fill">
              <i class="fab fa-researchgate fa-3x"></i>
            </a>
            <a class="icon-link round-corner envelope fill">
              <i class="fas fa-envelope-square fa-3x"></i>
            </a>
            <a class="icon-link info">
              <i style="cursor: pointer;" routerLink="/faculty/{{('headName' | lowercase) |notTurkish}}{{('headSurname' |lowercase)|notTurkish }}"
                class="fas fa-info-circle fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
