
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="basliklar">{{title}}</p>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>{{researchesText}}</h5>
      <ul>
        <li *ngFor="let searcher of searchers |async">{{searcher}}</li>
      </ul>
      <h5>{{topicsText}}</h5>
      <ul>
        <li *ngFor="let topic of topics |async">{{topic}}</li>
      </ul>
      <h5>{{projectsText}}</h5>
      <ul>
        <li *ngFor="let project of projects |async">{{project}}</li>
      </ul>
      <h5>{{collabText}}</h5>
      <ul>
        <li *ngFor="let coll of collab |async">{{coll}}</li>
      </ul>
    </div>
  </div>
</div>
