<div class="ustmenu">
  <div class="header">
    <div class="column left">
      <a href="http://www.iyte.edu.tr/" target="_blank">
        <img src="assets/image/header/iyte.png" alt="iytelogo">
      </a>
    </div>
    <div class="column middle">
      <h1 class="title" style="cursor: pointer;outline: none!important; "    routerLink='home'>{{ 'header.title' | translate}}</h1>
    </div>
    <div class="column right">
      <img src="assets/image/header/iyteehm.png" alt="eeelogo" routerLink='home' style="cursor: pointer;">
    </div>
  </div>

  <div class="menubar">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto multi-level">
          <li id="borderForm" class="nav-item active">
            <a routerLink="home" class="nav-link">{{'navbar.home' | translate}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a style="cursor: pointer" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'navbar.about' | translate}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-item" style="cursor: pointer;" routerLink="abouteee">{{'navbar.abouteee.title' | translate}}</li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="cursor: pointer;" routerLink="administration">{{'navbar.administration' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="cursor: pointer;" routerLink="contact">{{'navbar.contact' | translate}}</a>

            </div>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a  style="cursor: pointer" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'navbar.people' | translate}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" style="cursor: pointer;" routerLink="faculty">{{'navbar.faculty' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="cursor: pointer;" routerLink='asistant'>{{'navbar.asistant' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="cursor: pointer;" routerLink='staff'>{{'navbar.staff' | translate}}</a>
            </div>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a style="cursor: pointer" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{'navbar.researches' | translate}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-submenu">
                <a style="cursor: pointer" class="dropdown-item"> {{'navbar.researchAreas' | translate}}</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="area/antenna">{{'navbar.antenna' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="area/circuit"> {{'navbar.circuit' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer"routerLink="area/foton"> {{'navbar.foton' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="area/biyomedical"> {{'navbar.biyomedical' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="area/image"> {{'navbar.image' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="area/robotic"> {{'navbar.robotic' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="area/statistic"> {{'navbar.statistic' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="area/telecom"> {{'navbar.telecom' | translate}}</a>
                  </li>
                </ul>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-submenu">
                <a style="cursor: pointer" class="dropdown-item"> {{'navbar.labs' | translate}}</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"  >
                    <a style="cursor: pointer" routerLink="lab/logic"> {{'navbar.logical' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="lab/nano"> {{'navbar.nano' | translate}}</a>
                  </li>
                  <li class="dropdown-item" >
                    <a style="cursor: pointer" routerLink="lab/antenna"> {{'navbar.antenna' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="lab/biplab"> {{'navbar.biplab' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="lab/magnetic"> {{'navbar.magneticLab' | translate}}</a>
                  </li>
                  <li class="dropdown-item" >
                    <a style="cursor: pointer" routerLink="lab/embedded"> {{'navbar.embedded' | translate}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer" routerLink="lab/fotonic"> {{'navbar.fotonicLab' | translate}}</a>
                  </li>
                </ul>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-submenu">
                <a style="cursor: pointer" class="dropdown-item" routerLink="projects">{{'navbar.projects.title' | translate}}</a>
                <!-- <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <a style="cursor: pointer"> Ters Problemler ve Bilişsel Sistemleri</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer"> MEMS & Nanoteknoloji</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer"> Anten ve RF Araştırma Laboratuvarı</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer"> Biyomedikal Bilgi İşleme Laboratuvarı (BIPLAB)</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer"> Hesaplamalı Elektromanyetik Lab</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer"> Gömülü Sistemler ve Elektronik Laboratuvarı</a>
                  </li>
                  <li class="dropdown-item">
                    <a style="cursor: pointer"> Fotonik Araştırma Laboratuvarı</a>
                  </li>
                </ul> -->
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-submenu">
                <a style="cursor: pointer" class="dropdown-item"> {{'navbar.publications' | translate}}</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <a  routerLink="papers/2017" style="cursor: pointer">{{2017}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a  routerLink="papers/2016" style="cursor: pointer"> {{2016}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a   routerLink="papers/2015" style="cursor: pointer"> {{2015}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a  routerLink="papers/2014" style="cursor: pointer"> {{2014}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a  routerLink="papers/2013" style="cursor: pointer"> {{2013}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a  routerLink="papers/2012" style="cursor: pointer"> {{2012}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a  routerLink="papers/2011" style="cursor: pointer"> {{2011}}</a>
                  </li>
                  <li class="dropdown-item">
                    <a  routerLink="papers/2010" style="cursor: pointer"> {{2010}}</a>
                  </li>
                </ul>
              </li>
            </div>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{'navbar.academic' | translate}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  routerLink="undergraduate">{{'navbar.undergraduate' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="graduate">{{'navbar.graduate' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="internship">{{'navbar.intern' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="projectLesson">{{'navbar.projectc' | translate}}</a>
            </div>
          </li>
        </ul>
        <button (click)="changeLanguage(lang)" class="lang" [ngStyle]="{'background-image': 'url(' + langToogleImg + ')'}"></button>
        <form id="borderForm" class="form-inline my-2 my-lg-0 searchIt">
          <input class="form-control mr-sm-2 searchInput" placeholder="Bul" aria-label="Search">
          <button type="button" class="btn btn-default btn-sm" (click)="fonksiyon()">
            {{'navbar.find' | translate}}
          </button>
        </form>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>


<!--<<div class="container">
  	<div class="row">
        <h2>Multi level dropdown menu in Bootstrap</h2>
        <hr>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-item"><a href="#">Some action</a></li>
                <li class="dropdown-item"><a href="#">Some other action</a></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-submenu">
                  <a  class="dropdown-item" tabindex="-1" href="#">Hover me for more options</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">Even More..</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">3rd level</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                            </ul>
                          </li>
                            <li class="dropdown-item"><a href="#">3rd level</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </div>
</div>-->
