
.ustmenu {
    height: 25%;
}
.altmenu {
    height: 75%;
}
img {
    width: 40%;
    height: 40%;
}
.column {
    float: left;
    padding: 3%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;

}
.left, .right {
    width: 25%;
}
.middle {
    width: 50%;
}

.menubar {
    clear: both;
}

.navbar {
    background-color: #9A1220;
}

#borderForm {
    margin-left: 2vw;
}
a {
    font-family: 'PT Sans', sans-serif;

}



.searchInput {
    display: none;
}  .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    color: rgb(25, 25, 34);
}