
.ustmenu {
    height: 25%;
}
.altmenu {
    height: 75%;
}
img {
    width: 40%;
    height: 40%;
}
.column {
    float: left;
    padding: 3%;
    text-align: center;

}
.left, .right {
    width: 25%;
}
.middle {
    width: 50%;
}

.menubar {
    clear: both;
}

.navbar {
    background-color: #9A1220;
}

a {
    color: white;
}