<div class="ustmenu">
  <div class="header">
    <div class="column left">
      <img src="assets/image/header/iyte.png" alt="iytelogo" routerLink='http://www.iyte.edu.tr/'>
    </div>
    <div class="column middle">
      <h1 class="title" routerLink='home'>ELEKTRİK-ELEKTRONİK MÜHENDİSLİĞİ BÖLÜMÜ</h1>
    </div>
    <div class="column right">
      <img src="assets/image/header/iyteehm.png" alt="eeelogo" routerLink='home'>
    </div>
  </div>

  <div class="menubar">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto multi-level">
          <li id="borderForm" class="nav-item active">
            <a class="nav-link" routerLink="home">Anasayfa
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hakkında
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-item" href="#">Welcome From the Chair</li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item" routerLink="history">Tarihçe</li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Genel Bilgiler</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Yönetim</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="contact">İletişim</a>

            </div>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Personel
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="faculty">Öğretim Üyeleri</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink='asistant'>Araştırma Görevlileri</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink='staff'>İdari Personel</a>
            </div>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a style="cursor: pointer" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Araştırmalarımız
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-submenu">
                <a class="dropdown-item">Araştırma Alanları ve Projeler</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <a>Anten & Mikrodalga</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Devre Sistemleri Teorisi</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Fotonik & Işık Dalgası Haberleşme</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Biyomedikal Araştırma</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Görüntü İşleme</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Robotik & Kontrol Sistemleri</a>
                  </li>
                  <li class="dropdown-item">
                    <a>İstatistiki Sinyal İşleme</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Telekomünikasyon</a>
                  </li>
                </ul>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-submenu">
                <a class="dropdown-item">Araştırma Laboratuvarları</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <a>Ters Problemler ve Bilişsel Sistemleri</a>
                  </li>
                  <li class="dropdown-item">
                    <a>MEMS & Nanoteknoloji</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Anten ve RF Araştırma Laboratuvarı</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Biyomedikal Bilgi İşleme Laboratuvarı (BIPLAB)</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Hesaplamalı Elektromanyetik Lab</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Gömülü Sistemler ve Elektronik Laboratuvarı</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Fotonik Araştırma Laboratuvarı</a>
                  </li>
                </ul>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-submenu">
                <a class="dropdown-item"> Projeler </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <a>Ters Problemler ve Bilişsel Sistemleri</a>
                  </li>
                  <li class="dropdown-item">
                    <a>MEMS & Nanoteknoloji</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Anten ve RF Araştırma Laboratuvarı</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Biyomedikal Bilgi İşleme Laboratuvarı (BIPLAB)</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Hesaplamalı Elektromanyetik Lab</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Gömülü Sistemler ve Elektronik Laboratuvarı</a>
                  </li>
                  <li class="dropdown-item">
                    <a>Fotonik Araştırma Laboratuvarı</a>
                  </li>
                </ul>
              </li>
            </div>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="articles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Akademik
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Lisans Eğitimi</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Lisansütü Eğitim</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="internship">Staj</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="projectLesson">Proje Dersi</a>
            </div>
          </li>
        </ul>
        <form id="borderForm" class="form-inline my-2 my-lg-0 searchIt">
          <input class="form-control mr-sm-2 searchInput" placeholder="Bul" aria-label="Search">
          <button type="button" class="btn btn-default btn-sm" (click)="fonksiyon()">
            Bul
          </button>
        </form>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>

<div class="altmenu">
</div>


<!--<<div class="container">
  	<div class="row">
        <h2>Multi level dropdown menu in Bootstrap</h2>
        <hr>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-item"><a href="#">Some action</a></li>
                <li class="dropdown-item"><a href="#">Some other action</a></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-submenu">
                  <a  class="dropdown-item" tabindex="-1" href="#">Hover me for more options</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">Even More..</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">3rd level</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                            </ul>
                          </li>
                            <li class="dropdown-item"><a href="#">3rd level</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </div>
</div>-->
