<div class="ustmenu">
  <div class="header">
    <div class="column left">
      <img src="../assets/image/header/iyte.png" alt="iytelogo">
    </div>
    <div class="column middle">
      <h1 class="title">ELEKTRİK ELEKTRONİK MÜHENDİSLİĞİ BÖLÜMÜ</h1>
    </div>
    <div class="column right">
      <img src="../assets/image/header/iyteehm.png" alt="eeelogo">
    </div>
  </div>

  <div class="menubar">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li id="borderForm" class="nav-item active">
            <a class="nav-link" routerLink="home">Anasayfa
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li id="borderForm" class="nav-item">
            <a class="nav-link" routerLink="education">Eğitim</a>
          </li>
          <li id="borderForm" class="nav-item">
            <a class="nav-link" routerLink="stuff">Personel</a>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="researches" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Araştırmalarımız
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li id="borderForm" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="articles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Yayınlarımız
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li id="borderForm" class="nav-item">
            <a class="nav-link" routerLink="internship">Staj</a>
          </li>
          <li id="borderForm" class="nav-item">
            <a class="nav-link" routerLink="projectLesson">Proje Dersi</a>
          </li>
          <li id="borderForm" class="nav-item">
            <a class="nav-link" routerLink="contact">İletişim</a>
          </li>
        </ul>
        <form id="borderForm" class="form-inline my-2 my-lg-0 searchIt">
          <input class="form-control mr-sm-2 searchInput"  placeholder="Bul" aria-label="Search">
          <button type="button" class="btn btn-default btn-sm" (click)="fonksiyon()">
 Bul
          </button>
        </form>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>

<div class="altmenu">

</div>
