 .centerItems {
  align-items: center;
  justify-content: center;

}
.marginMid {
  margin-top:2%;
}

.panel-title {
  font-size: 1.6em;
  color: rgb(66, 66, 66);
  text-align: center;
}
.pushBtn {
  width: 20%;
  margin:0 0 0 40%;
 
}