<section>
  <!-- LOGIN PANEL -->
  <div *ngIf="panel" class="container entrance">
    <div class="row marginMid">
      <div class="col-12 ">
        <div class="row centerItems">
          <p>ADMIN ENTRANCE</p>
        </div>
      </div>
    </div>

    <div class="row centerItems marginMid">
      <div class="col-6 ">
        <div class="row ">
          <input type="text" class="form-control mail" placeholder="Email">

        </div>
      </div>
    </div>

    <div class="row centerItems marginMid">
      <div class="col-6 ">
        <div class="row ">
          <input type="text" class="form-control password" placeholder="Password">


        </div>
      </div>
    </div>

    <div class="row centerItems marginMid">
      <div class="col-6  ">
        <div class="row centerItems">
          <button type="button" (click)="login()" class="btn btn-warning">Login</button>

        </div>
      </div>
    </div>

  </div>
</section> <!-- LOGIN PANEL ENDS -->

<section>
  <!-- ADMIN PANEL -->
  <div *ngIf="!panel" class="container panel">
    <div class="row centerItems">
      <p class="panel-title"> Hello {{userName}} !</p>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn  btn-block" data-toggle="collapse" data-target="#notification" aria-expanded="true"
                  aria-controls="notification">
                  Home - Announcements
                </button>
              </h5>
            </div>

            <div id="notification" class="collapse show" aria-labelledby="notification" data-parent="#accordion">
              <div class="card-body">
                <form>

                  <div class="form-group">
                    <label for="notification-title-en">Title:</label>
                    <input type="text" class="form-control" id="notification-title-en">
                  </div>

                  <div class="form-group">
                      <label for="notification-title-tr">Başlık:</label>
                      <input type="text" class="form-control" id="notification-title-tr">
                    </div>

                  <div class="form-group">
                    <label for="notification-text-en">Text:</label>
                    <input type="text" class="form-control" id="notification-text-en">
                  </div>

                  <div class="form-group">
                      <label for="notification-text-tr">Metin:</label>
                      <input type="text" class="form-control" id="notification-text-tr">
                    </div>

                  <div class="form-group">
                    <label for="notification-photo-en">Photo:</label>
                    <input type="text" class="form-control" id="notification-photo-en">
                  </div>

                  <div class="form-group">
                      <label for="notification-photo-tr">Fotoğraf:</label>
                      <input type="text" class="form-control" id="notification-photo-tr">
                    </div>

                  <div class="form-group">
                    <label for="notification-type">Type:</label>
                    <select class="custom-select" id="notification-type">
                      <option selected>Choose...</option>
                      <option value="1">Event</option>
                      <option value="2" style="color:red;">Red Alert Notification</option>
                     </select> </div>

                     


                  <button type="button" (click)="announcement()" class="btn btn-warning pushBtn">Add Announcement</button>
                </form>
              </div>
            </div>
          </div>

          <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn  btn-block" data-toggle="collapse" data-target="#news" aria-expanded="true"
                    aria-controls="news">
                    Home - News
                  </button>
                </h5>
              </div>
  
              <div id="news" class="collapse" aria-labelledby="news" data-parent="#accordion">
                <div class="card-body">
                  <form>
  
                    <div class="form-group">
                      <label for="notification-title-en">Title:</label>
                      <input type="text" class="form-control" id="notification-title-en">
                    </div>
  
                    
  
  
                    <button type="button" (click)="announcement()" class="btn btn-warning pushBtn">Add Announcement</button>
                  </form>
                </div>
              </div>
            </div>

          

        </div>
      </div>

    </div>
  </div>
</section> <!-- ADMIN PANEL ENDS -->