<body>
  <div id="login" *ngIf="!logged">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">

            <label for="password" class="text-info">Password:</label>
            <br>
            <input type="password" name="password" id="password" #password class="form-control">
            <button (click)="login(password.value)">Login</button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="logged">
    <h1 style="margin:6vw">
      <u>HOME</u>

      <section>
      
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">link</span>
                  </div>
                  <input style="width: 20vw!important" type="text" aria-describedby="basic-addon1">
                   <button class="btn">Add to Database!</button>
                </div>
                
            </section>
    </h1>
  </div>
</body>