<div class="column left">
</div>
<div class="column middle">
    <div class="Faculty News">
        <h5>Editing Faculty News</h5>
        <input placeholder="facultyText" class="facultyTextF" />
        <button (click)="addToFacultyNews()">Ekle/Güncelle</button>
      </div>
    <div class="Announcements">
        <h5>Editing Announcements</h5>
        <input placeholder="annoText" class="annoTextF" />
        <button (click)="addToAnnouncements()">Ekle/Güncelle</button>
      </div>
      <div class="Events">
          <h5>Editing Events</h5>
          <input placeholder="eventTitle" class="eventTitleF" />
          <input placeholder="eventText" class="eventTextF" />
          <button (click)="addToEvents()">Ekle/Güncelle</button>
        </div>
        <div class="NEWS">
            <h5>Editing Main News</h5>
            <input placeholder="newsnumber" class="newsnumberF" />
            <input placeholder="newsTitle" class="newsTitleF" />
            <input placeholder="newsText" class="newsTextF" />
            <input placeholder="newsPhoto" class="newsPhotoF" />
            <button (click)="addToNews()">Ekle/Güncelle</button>
          </div>
    <div class="Faculty">
        <h5>Editing Faculty Page</h5>
        <input placeholder="username" class="usernameF" />
        <input placeholder="name" class="nameF" />
        <input placeholder="surname" class="surnameF" />
        <input placeholder="pp" class="ppF" />
        <button (click)="addToFaculty()">Ekle/Güncelle</button>
        <button (click)="removeToFaculty()">Sil</button>
      </div>
  <div class="Asistant">
    <h5>Editing Asistant Page</h5>
    <input placeholder="username" class="usernameF" />
    <input placeholder="name" class="nameF" />
    <input placeholder="surname" class="surnameF" />
    <input placeholder="pp" class="ppF" />
    <button (click)="addToAsistant()">Ekle/Güncelle</button>
    <button (click)="removeToAsistant()">Sil</button>
  </div>
  <div class="Staff">
      <h5>Editing Staff Page</h5>
      <input placeholder="username" class="usernameF" />
      <input placeholder="name" class="nameF" />
      <input placeholder="surname" class="surnameF" />
      <input placeholder="pp" class="ppF" />
      <button (click)="addToStaff()">Ekle/Güncelle</button>
      <button (click)="removeToStaff()">Sil</button>
    </div>
</div>
<div class="column right">
</div>