<!-- <div class="column left">
</div>
<div class="column middle">
  <h1>Haberler</h1>
  <div class="loopBoxes" *ngFor="let new of news |async let i = index" style="cursor: pointer;" routerLink="/newsdetail/{{new.newsName}}">
    <div class="picture">
      <img src="{{new.photo}}" width="100%" height="100%">
    </div>
    <div class="text">
      <h5>{{'new.title' | translate}}</h5>
      <p>{{'new.text' | translate}}</p>
    </div>
  </div>
  <div class="column right">
  </div> -->
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="leftpart">
        <p class="basliklar">{{'home.newsHead' | translate}}</p>
        <div class="dropdown-divider"></div>
        <div class="loopBoxes" *ngFor="let new of news |async let i = index" style="cursor: pointer;" routerLink="/newsdetail/{{new.newsName}}">
          <div class="newBox">
            <div class="col-md-4 picture">
              <img class='imgNews' src="{{new.photo}}" width="100%" height="100%">
            </div>
            <div class="col-md-8 text2">
              <h5>{{new.title}}</h5>
              <p>{{new.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
