<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p class="basliklar">{{title}}</p>
      <div class="dropdown-divider" style="margin-bottom: 2vw;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <img class="picture" src={{pp}}/>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-5">
      <p>
        <span style="font-weight: 600">{{'home.topic' | translate }}:</span> {{topic}}</p>
      <p class="sub">{{date}}</p>
      <p>
        <span style="font-weight: 600">{{'home.venue' | translate }}:</span> {{venue}}</p>
      <p>
        <span style="font-weight: 600">{{'home.speaker' | translate }}:</span> {{speaker}}</p>

      <p style="font-weight: 600;font-size: 3vw">{{'home.abstract' | translate }}</p>

      <p>{{text1}}</p>
      <p>{{text2}}</p>
      <p>{{text3}}</p>

    </div>
  </div>
</div>