<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p class="basliklar">{{title}}</p>
      <div class="dropdown-divider" style="margin-bottom: 2vw;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img class="picture" src={{pp}} />
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <p class="sub">{{date}}</p>

      <p><span style="font-weight: 600"></span> {{venue}}</p>
      <p><span style="font-weight: 600"></span> {{speaker}}</p>
      <p>{{text1}}</p>
      <p>{{text2}}</p>
      <p>{{text3}}</p>

    </div>
  </div>
</div>
