.column {
    padding: 3%;
  }
  .right {
    float: right;
    width: 57vw;
    text-align: left;
    margin-right: 3vw;
    margin-top: 1.9vw;
  }
  .left {
    float: left;
    width: 30vw;
    text-align: left;
    margin-top: -4vw;
    margin-left: 5vw;
  }
  .icon {
    float: left;
    vertical-align: middle;
    justify-content: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 25vw;
    max-height: 50vw;
    margin-left: 0;
    text-align: left;
    font-family: arial;
  }
  
  .card ul {
    list-style-type: none;
  }
  .social {
    overflow: hidden;
  }
  .social a {
    width: 6vw;
    display: inline-block;
  }
  .icons {
    display: inline-block;
    margin-top: 1vw;
    margin-left: 1vw;
  }
  
  .fa-facebook-square {
    color: #3b5998;
  }
  
  .fa-twitter-square {
    color: #00aced;
  }
  
  .fa-linkedin {
    color: #007bb6;
  }
  
  .fa-youtube-square {
    color: #df1c31;
  }
  
  .fa-reddit-square {
    color: #8bbbe3;
  }
  
  .fa-github-square {
    color: #444;
  }
  
  .fa-pinterest-square {
    color: #b81621;
  }
  
  