<div class="column left">
  <h2>{{name}} {{surname}}</h2>
  <p>{{title}}</p>

  <div class="card">
    <img src="{{pp}}" style="width:100%">
    <ul>
      <li class="cardText">
        <i class="far fa-envelope"></i>{{email}}</li>
    </ul>
    <div class="social  d-flex justify-content-center">

      <a class="icon-gap icon">
        <i style="cursor: pointer" class="far fa-address-card fa-3x"></i>
      </a>
      <a class="icon-gap icon">
        <i style="cursor: pointer" class="fas fa-globe fa-3x"></i>
      </a>
      <a target="_blank" style="margin:1vw;" class="icon-link round-corner linkedin fill icon" >
        <i class="fab fa-linkedin fa-3x"></i>
      </a>
      <a style="margin:1vw;" class="icon-link round-corner twitter fill icon">
        <i class="fab fa-twitter-square fa-3x"></i>
      </a>
    </div>
  </div>
  <!-- <h2>{{name}} {{surname}}</h2>
  <p>{{title}}</p>

  <div class="card">
    <img src="{{pp}}" style="width:100%">
    <ul>
      <li>
        <i class="far fa-envelope"></i> {{email}}</li>
    </ul>
    <div class="social">
      <a class="icon-link round-corner facebook fill" class="icons">
        <i class="fab fa-facebook-square "></i>
      </a>
      <a target="_blank" class="icon-link round-corner linkedin fill" class="icons">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="icon-link round-corner twitter fill" class="icons">
        <i class="fab fa-twitter-square"></i>
      </a>
      <a class="icon-link round-corner youtube fill" class="icons">
        <i class="fab fa-youtube-square"></i>
      </a>
      <a class="icon-link round-corner reddit fill" class="icons">
        <i class="fab fa-reddit-square"></i>
      </a>
      <a class="icon-link round-corner github fill" class="icons">
        <i class="fab fa-github-square"></i>
      </a>
      <a class="icon-link round-corner pinterest fill" class="icons">
        <i class="fab fa-pinterest-square"></i>
      </a>
    </div>
  </div> -->
</div>

<div class="column right">
  <h5>{{h1 | translate}}</h5>
  <p>{{text1 | translate}}</p>

  <h5>{{h2 | translate}}</h5>
  <p>{{text2 | translate}}</p>

  <h5>{{h3 | translate}}</h5>
  <p>{{text3 | translate}}</p>

  <h5>{{h4 | translate}}</h5>
  <p>{{text4 | translate}}</p>

  <h5>{{h5 | translate}}</h5>
  <p>{{text5 | translate}}</p>
  
  <p>{{text6 | translate}}</p>
  <p>{{text7 | translate}}</p>
  <p>{{text8 | translate}}</p>
  <p>{{text9 | translate}}</p>
  <p>{{text10 | translate}}</p>
  <p>{{text11 | translate}}</p>
  <p>{{text12 | translate}}</p>
  <p>{{text13 | translate}}</p>
  <p>{{text14 | translate}}</p>
  <p>{{text15 | translate}}</p>


</div>
