<div class="column left">
    <h2>{{name}} {{surname}}</h2>
    <p>{{title}}</p>
  
    <div class="card">
      <img src="{{pp}}" style="width:100%">
      <ul>
        <li>
          <i class="far fa-envelope"></i> {{email}}</li>
      </ul>
      <div class="social">
        <a class="icon-link round-corner facebook fill" class="icons">
          <i class="fab fa-facebook-square "></i>
        </a>
        <a target="_blank" class="icon-link round-corner linkedin fill" class="icons">
          <i class="fab fa-linkedin"></i>
        </a>
        <a class="icon-link round-corner twitter fill" class="icons">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a class="icon-link round-corner youtube fill" class="icons">
          <i class="fab fa-youtube-square"></i>
        </a>
        <a class="icon-link round-corner reddit fill" class="icons">
          <i class="fab fa-reddit-square"></i>
        </a>
        <a class="icon-link round-corner github fill" class="icons">
          <i class="fab fa-github-square"></i>
        </a>
        <a class="icon-link round-corner pinterest fill" class="icons">
          <i class="fab fa-pinterest-square"></i>
        </a>
      </div>
    </div>
  </div>
  
    <div class="column right">
      {{text}}  
    </div>
  