<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="basliklar">{{'intership.title' | translate}}</p>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <p style="color:red;font-weight: bold">{{'intership.text' | translate}}</p>

       <a href="{{'intership.link10' | translate}}">{{'intership.text10' | translate}}</a><br>
       <a href="{{'intership.link1' | translate}}">{{'intership.text1' | translate}}</a><br>
       <a href="{{'intership.link2' | translate}}">{{'intership.text2' | translate}}</a><br>      
       <a href="{{'intership.link3' | translate}}">{{'intership.text3' | translate}}</a><br>      
       <a href="{{'intership.link4' | translate}}">{{'intership.text4' | translate}}</a><br>      
       <a href="{{'intership.link5' | translate}}">{{'intership.text5' | translate}}</a><br>      
       <a href="{{'intership.link6' | translate}}">{{'intership.text6' | translate}}</a><br>      
       <a href="{{'intership.link7' | translate}}">{{'intership.text7' | translate}}</a><br>      
       <a href="{{'intership.link8' | translate}}">{{'intership.text8' | translate}}</a><br>  
       <a href="{{'intership.link9' | translate}}">{{'intership.text9' | translate}}</a><br>      
        
      </div>
  </div>
</div>