<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="basliklar">{{'internship.title' | translate}}</p>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <p style="color:red;font-weight: bold">{{'internship.text' | translate}}</p>

       <a href="{{'internship.link10' | translate}}">{{'internship.text10' | translate}}</a><br>
       <a href="{{'internship.link1' | translate}}">{{'internship.text1' | translate}}</a><br>
       <a href="{{'internship.link2' | translate}}">{{'internship.text2' | translate}}</a><br>      
       <a href="{{'internship.link3' | translate}}">{{'internship.text3' | translate}}</a><br>      
       <a href="{{'internship.link4' | translate}}">{{'internship.text4' | translate}}</a><br>      
       <a href="{{'internship.link5' | translate}}">{{'internship.text5' | translate}}</a><br>      
       <a href="{{'internship.link6' | translate}}">{{'internship.text6' | translate}}</a><br>      
       <a href="{{'internship.link7' | translate}}">{{'internship.text7' | translate}}</a><br>      
       <a href="{{'internship.link8' | translate}}">{{'internship.text8' | translate}}</a><br>  
       <a href="{{'internship.link9' | translate}}">{{'internship.text9' | translate}}</a><br>      
        
      </div>
  </div>
</div>