.heading {
  text-align: center;
  margin-top: 1vw;
}
.proCart {

  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  border-radius: 2px;
  padding: 5px;
  width: 160px;
  height: 260px;
  backface-visibility: hidden;
  position: absolute;
}

.flip-container {
  perspective: 1000;
  float: left;
  margin-right: 40px;
  margin-left: 0%;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 150px;
	height: 260px;
}
/* 
.icon-link {
  margin-right: 5px;
}
.twitter, .github {
  float: left;
}

.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter-square {
  color: #00aced;
}
.fa-linkedin {
  color: #007bb6;
}

.fa-youtube-square {
  color: #df1c31;
}
.fa-reddit-square {
  color: #8bbbe3;
}
.fa-github-square {
  color:#444;
}
.fa-researchgate {
  color:  #66ffcc
  ;

}

@media (max-width: 394px) {

  .flip-container {
    margin-left: 20%;
  } 
}  
*/
