 
    <h2 class="heading">{{'personels.facultyName' |translate}}</h2>
<div class="container">
    <div class="row">
        <div class="flip-container " *ngFor="let faculty of faculties | async">
            <div class="flipper col"
            style="cursor: pointer;" routerLink="/faculty/{{(faculty.name | lowercase | trim) |notTurkish}}{{(faculty.surname |lowercase)|notTurkish }}">
            <div class="front proCart">
                <img src="{{faculty.pp}}" alt="{{faculty.name}}" width="100%" height="200" class="image">
                <p style="height: inherit;">{{faculty.title}} {{faculty.name | titlecase}} {{faculty.surname | uppercase}}</p>
            </div> 
        </div>
        </div>
    </div>
</div>