<div class="container" style=" margin: 4vh 10vw 2vh 10vw">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-12">
          <ngb-carousel style="outline: none!important; " class='newsborder'>
            <div class='carousel-inner'>
              <ng-template style="outline: none !important;" ngbSlide>
                <img class='newsimage' width="820vw" height="350vh" style="cursor: pointer;" routerLink="/abouteee" src="https://firebasestorage.googleapis.com/v0/b/eeeweb-c2788.appspot.com/o/news%2Fabouteee.jpg?alt=media&token=292aa7c9-62a0-4304-b63a-fd87a0be9fcd"
                  alt="about eee">
                <div class="carousel-caption text-left carText">
                  <h3 class="newTitle">{{'navbar.abouteee.title' | translate}}</h3>
                  <p class="newText">{{'navbar.abouteee.detail' | translate}}</p>
                </div>
              </ng-template>
            </div>
            <div class='carousel-inner'>
              <ng-template style="outline: none !important;" ngbSlide>
                <a href="http://www.iyte.edu.tr/Duyurular.aspx?m=23247" target="_blank" style="cursor: pointer;">
                  <img class='newsimage' width="820vw" height="350vh" src="https://firebasestorage.googleapis.com/v0/b/eeeweb-c2788.appspot.com/o/news%2Fiytegate.jpg?alt=media&token=7d4749ad-29da-43fa-8f2b-ef78ba2a03a6"
                    alt="about eee">
                </a>
                <div class="carousel-caption text-left carText">
                  <h3 class="newTitle">{{'home.newStatic.tanıtımTitle' | translate}}</h3>
                  <p class="newText">{{'home.newStatic.tanıtımText' | translate}}</p>
                </div>
              </ng-template>
            </div>

            <div class='carousel-inner'>
              <ng-template style="outline: none !important;" ngbSlide *ngFor="let new of news |async let i = index">
                <img class='newsimage' width="820vw" height="350vh" style="cursor: pointer;" routerLink="/newsdetail/{{new.newsName}}" src="{{new.photo}}"
                  alt="{{new.title}}">
                <div class="carousel-caption text-left carText">
                  <h3 class="newTitle">{{new.title | longtext:50}}</h3>
                  <p class="newText">{{new.text}}</p>
                </div>
              </ng-template>
            </div>
          </ngb-carousel>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <div class="leftpart">
            <p class="basliklar">{{'home.newsHead' | translate}}</p>
            <div class="dropdown-divider"></div>
            <div class="loopBoxes" *ngFor="let new of newsRegular |async let i = index" style="cursor: pointer;" routerLink="/newsdetail/{{new.newsName}}">
              <div *ngIf="i<3">
                <div class="newBox">
                  <div class="col-md-4 picture">
                    <img class='imgNews' src="{{new.photo}}" width="100%" height="100%">
                  </div>
                  <div class="col-md-8 text2">
                    <h5>{{new.title}}</h5>
                    <p class="newText">{{new.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="see" routerLink="/news">{{'home.seeall' | translate}}</a>
        </div>
        <div class="col-5">
          <div class="events">
            <p class="basliklar">{{'navbar.events' | translate}}</p>
            <div class="dropdown-divider"></div>
            <div class="container">
              <div routerLink="/event/{{event.eventName}}" class="ev" style="cursor: pointer;" *ngFor="let event of events | async">
                <div class="row row-striped">
                  <div class="col-4 text-center">
                    <div class="display-16">
                      <div style="display: inline-block " class="eventDay">{{event.day}}</div>
                    </div>
                    <div style="display: inline-block;" class="eventMonth">{{event.month}}</div>
                  </div>
                  <div class="col-8">
                    <div style="display: inline-block;">
                      {{event.title | longtext:28}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="see" style="float: right!important" routerLink='/events'>{{'home.seeall' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 right">
      <div class="quickLinks">
        <p class="basliklar">{{'home.quickLinks.title' | translate}}</p>
        <div class="dropdown-divider"></div>
        <div class='altmezun'>
          <a href="http://www.iyte.edu.tr/AltSayfa.aspx?m=52" target="_blank" style="cursor: pointer;">
            <p style="font-size:1.3vw;">{{'home.quickLinks.calender.title' | translate}}</p>
          </a>
          <hr class="style6">
          <p routerLink='/internship' style="cursor: pointer; font-size:1.3vw;">{{'home.quickLinks.intern.title' | translate}}</p>
          <hr class="style6">
          <p routerLink='/projectLesson' style="cursor: pointer;font-size:1.3vw;">{{'home.quickLinks.projectL.title' | translate}}</p>
          <hr class="style6">
          <a href="https://cms.iyte.edu.tr/login/index.php" target="_blank" style="cursor: pointer;">
            <p style="font-size:1.3vw;">
              <img src="https://firebasestorage.googleapis.com/v0/b/eeeweb-c2788.appspot.com/o/components%2Fcms.jpg?alt=media&token=58a5bfd0-9de9-43a8-a611-a42613d4c320"
                width="25px" height='20px'> {{'home.quickLinks.cms.title' | translate}}</p>
          </a>
          <hr class="style6">
          <a href="https://obs.iyte.edu.tr/oibs/ogrenci/login.aspx" target="_blank" style="cursor: pointer;">
            <p style="font-size:1.3vw;">
              <img src="https://firebasestorage.googleapis.com/v0/b/eeeweb-c2788.appspot.com/o/components%2Fobs.gif?alt=media&token=9e47d79c-e71d-4662-b4ba-8938bc7ec759"
                width="20px" height='20px'> {{'home.quickLinks.obs.title' | translate}}</p>
          </a>
          <hr class="style6">
          <a href="http://ieee.iyte.edu.tr/" target="_blank" style="cursor: pointer;">
            <p style="font-size:1.3vw;margin-bottom:3.3vw;">
              <img src="https://firebasestorage.googleapis.com/v0/b/eeeweb-c2788.appspot.com/o/components%2Fieee.png?alt=media&token=6f539926-a191-4135-929a-a983762243e2"
                width="20px" height='20px'> {{'home.quickLinks.ieee.title' | translate}}</p>
          </a>

        </div>
      </div>
      <div class="duyurular">
        <p class="basliklar">{{'home.annoTitle' | translate}}</p>
        <div class="dropdown-divider"></div>
        <ul>
          <li *ngFor="let anno of announcements | async;" [ngClass]="{ 'alertIt':anno.type == 3 }"> {{anno.title}}</li>

        </ul>
        <a class="see" routerLink="/announcements">{{'home.seeall' | translate}}</a>
      </div>
      <div class="spotlight">
        <p class="basliklar">{{'personels.spotlightName' | translate}}</p>
        <div class="dropdown-divider"></div>
        <div class="card" *ngIf="spotlights">
          <img src="{{spotlights.pp}}" alt="name" width="100%" routerLink="/spotlights/{{(spotlights.name | lowercase) | notTurkish}}{{(spotlights.surname |lowercase)|notTurkish }}">
          <h5>{{spotlights.name}} {{spotlights.surname}}</h5>
        </div>
        <a class="see" routerLink="/spotlights">{{'home.seeall' | translate}}</a>
      </div>
    </div>

  </div>
</div>