.column {
  float: left;
  padding-top: 1vw !important; 
  padding: 3vw;
}

.left {
  width: 22vw;
  text-align: left;
  margin-left: 1vw;
}
.right {
  width: 22vw;
  text-align: left;
  margin-right: 1vw;
}

.middle {
  width: 50vw;
  text-align: center;
}

.mezun {
  height: 10vw;
  margin-top: 1vw;
}
.spotlight {
  margin-bottom: 1vw;
}

h2 {
  font-size: 2vw;
}

p {
  font-size: 1vw;
}
ul {
  list-style-type: circle;
}
li {
  font-size: 1vw;
  margin-left: -3vw;
}

.box {
  width: 70px;
  height: 100px;
  background: #9A1220;
  margin-right: 5%;
  float: left;
  color: white;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 16vw;
  height: 22vw;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 10px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 4px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
}

a {
  text-decoration: none;
  font-size: 11px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}