<div class="column left">
  <div class="fakulte">
    <h2>Fakülte Haberleri</h2>
    <img class="fakulteimg" src="../assets/image/news/ehm.jpg" alt="fakulte">
    <p>{{facultyText}}</p>
  </div>
  <div class="duyurular">
    <h2>Duyurular</h2>
    <p>{{annoText}}</p>
  </div>
  <h2>Etkinlikler</h2>
  <div class="box">
    <p style="font-size:40px;">2</p>
    <p>AGU</p>
  </div>
  <div class="etkinlikler">
    <p><b>{{eventTitle}}</b></p>
    <p>{{eventText}}</p>
  </div>

</div>
<div class="column middle">

  <div >
    <ngb-carousel >
      <ng-template ngbSlide *ngFor="let new of news |async let i = index" >
        <img style="cursor: pointer;" routerLink="/news/{{new.newsName}}" src="{{new.photo}}" alt="{{new.title}}">
        <div class="carousel-caption">
          <h3>{{new.title}}</h3>
          <p>{{new.text}}</p>
        </div>
      </ng-template>
      
    </ngb-carousel>
  </div>

</div>
<div class="column right">
  <div class="mezun">
    <h2>EHM Öğrenci Adayları</h2>
    <p>İYTE ailesine katılmayı düşnüyorsun ama hala karar veremedin mi? Senin için hazırlanan siteye <a href="http://aday.iyte.edu.tr/">bakabilirsin</a></p>
  </div>
  <div class="socialmedia">
    <h2>Sosyal Medyada Biz</h2>
    <a class="icon-link round-corner facebook fill" class="feys">
      <i class="fab fa-facebook-square fa-3x"></i>
  </a>
  <a class="icon-link round-corner twitter fill">
    <i class="fab fa-twitter-square fa-3x"></i>
</a>
  </div>

</div>