<div class="column left">
</div>
<div class="column middle">
  <h2>{{name}} {{surname}}</h2>

  <div class="card">
      <img src="{{pp}}" style="width:100%">
      <ul>
        <li>
          <i class="far fa-envelope"></i> {{email}}</li>
      </ul>
      <div class="social  d-flex justify-content-center">
  
        <a class="icon-gap">
          <i style="cursor: pointer" class="far fa-address-card fa-3x"></i>
        </a>
        <a class="icon-gap">
          <i style="cursor: pointer" class="fas fa-globe fa-3x"></i>
        </a>
        <a target="_blank" style="margin:1vw;" class="icon-link round-corner linkedin fill" class="icons">
          <i class="fab fa-linkedin fa-3x"></i>
        </a>
        <a style="margin:1vw;" class="icon-link round-corner twitter fill" class="icons">
          <i class="fab fa-twitter-square fa-3x"></i>
        </a>
      </div>
    </div>
    
</div>

<div class="column right">
   <p>Telefon: {{number}}</p>

   <p>E-mail: {{email}} </p> 
    
   <p>Kişisel Web Adresi: {{webLink}}</p>    
    
    <p>Ph.D. : {{phd}}</p> 
    
    <p>M.S. : {{ms}}</p> 
    
    <p>B.S. : {{bs}}</p>
</div>
