<div class="column left">
</div>
<div class="column middle">
<h2>Tarihçe</h2>
<p>İzmir Yüksek Teknoloji Enstitüsü Elektrik‐Elektronik Mühendisliği Bölümü, içinde yaşadığımız elektronik çağın hızla değişen taleplerine cevap verebilecek mühendisleri ve geleceğin akademisyenlerini yetiştirmek; ve ülkemizin geride kalma eğiliminde olduğu elektronik teknolojiler alanında araştırmalar yapmak hedefleriyle 1994 yılında kurulmuştur. İlk olarak, 1998 yılında, Elektronik ve Haberleşme Mühendisliği Yüksek Lisans programına ve ardından 2005 yılında aynı alanda doktora programına öğrenci kabulüne başlanmıştır. Elde edilen bilgi birikimi ile, özellikle çok hızlı ilerleyen, haberleşme sektöründe ihtiyaç duyulan mühendis talebini karşılamak amacıyla, 2003‐2004 eğitim yılında Elektronik ve Haberleşme Mühendisliği lisans programına öğrenci alımına başlanmıştır.</p>
<div class="column right">
</div>